
@{
    ViewBag.Title = "Especialidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Especialidades</li>
</ol>

<div class="card">
    <img class="card-img-top" src="~/Img/mantenimiento.jpg" height="300">
    <div class="card-body">
        <i class="fas fa-user-md me-2"></i>Lista de Especialidades
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-outline-primary" onclick="abrirModal(null)">Ingresar Especialidad</button>
            </div>
        </div>

        <hr />
        <table id="tabla1" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
            </tbody>
        </table>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="formModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Datos de la Especialidad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">

                <input id="txtid" type="hidden" value="0" />
                <div class="row g-2">

                    <div class="col-sm-6">
                        <label for="txtnombre">Nombres</label>
                        <input type="text" class="form-control" id="txtnombre" placeholder="Ingrese su Nombre" autocomplete="off">
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label">Descripcion</label>
                        <textarea type="text" class="form-control" id="txtdescripcion" name="descripcion" style="height:125px;resize:none"></textarea>
                    </div>


                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            This is a danger alert—check it out!
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>

          var tabladata;
        var filaseleccionada;
        tabladata = $("#tabla1").DataTable({

            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarEspecialidad", "Mantenimiento")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                { "data": "Nombre" },
                { "data": "Descripcion" },

                {
                    "defaultContent": '<button type="button" class="btn btn-outline-primary btn-editar"><i class="fas fa-pen"></i></button>' +
                        '<button type="button" class="btn btn-outline-danger ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "90px"


                }

            ],
            "language": {
                "url": '//cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json'
            }

        });




        function abrirModal(json) {
            $("#txtid").val(0);
            $("#txtnombre").val("");
            $("#txtdescripcion").val("");


            $("#mensajeError").hide();




            if (json != null) {
                $("#txtid").val(json.IdEspecialidad);
                $("#txtnombre").val(json.Nombre);
                $("#txtdescripcion").val(json.Descripcion);


            }



            $("#formModal").modal("show");

        }

        $("#tabla1 tbody").on("click", ".btn-editar", function () {

            filaseleccionada = $(this).closest("tr");

            var data = tabladata.row(filaseleccionada).data();
            abrirModal(data)
        })

        $("#tabla1 tbody").on("click", ".btn-eliminar", function () {

            var medicoseleccionado = $(this).closest("tr");

            var data = tabladata.row(medicoseleccionado).data();
            swal ({
                title: "Esta Seguro",
                text: "Desea Eliminar la Especialidad",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Si",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
                function () {
                jQuery.ajax({
                url: '@Url.Action("EliminarEspecialidad", "Mantenimiento")',
                    type: "POST",
                    data: JSON.stringify({ id: data.IdEspecialidad }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.resultado) {
                        tabladata.row(medicoseleccionado).remove().draw();
                    } else {
                        swal("No se pudo Eliminar", data.mensaje, "error")
                    }
                },
                error: function (error) {

                    },
                    beforeSend: function () {

                    }

            });


                });

            console.log(data)
        })


        function guardar() {

            var Enfermero = {
                IdEspecialidad: $("#txtid").val(),
                Nombre: $("#txtnombre").val(),
                Descripcion: $("#txtdescripcion").val(),

            }
            jQuery.ajax({
                url: '@Url.Action("GuardarEspecialidad","Mantenimiento")',
                type: "POST",
                data: JSON.stringify({ objeto: Enfermero }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    $(".modal-body").LoadingOverlay("hide");

                    //Medico Nuevo
                    if (Enfermero.IdEspecialidad == 0) {

                        if (data.resultado != 0) {
                            Enfermero.IdEspecialidad = data.resultado;
                            tabladata.row.add(Enfermero).draw(false);
                            $("#formModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }

                    }
                    //Medico editar
                    else {

                        if (data.resultado) {
                            tabladata.row(filaseleccionada).data(Enfermero).draw(false);
                            filaseleccionada = null;
                            $("#formModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }

                    }


                },
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide");
                    $("#mensajeError").text("Error Ajax");
                    $("#mensajeError").show();

                },
                beforeSend: function (){
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14
                    })
                }

            });



        }



    </script>


}