
@{
    ViewBag.Title = "FichaMedica";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="text-center">
    <h1><b>FICHA MEDICA</b></h1>
</div>

<form class="row">

    <div class=" mt-3 m-2 m-l bg-danger" style="width:1500px;border:solid">

        <div class="col-sm-3 m-4 text-white">
            <label class="form-label"><b>Ingresar la Ficha:</b></label>
            <div class="mb-2" style="display:flex">

                <input type="text" class="form-control m-2" id="txtIdCita" style="width:80px ;border:dotted" />

                <button type="button" class="btn btn-primary btn-lg " id="btnBuscar">Buscar</button>

            </div>
            <div class="mb-3">
                <label class="form-label"><b>Paciente:</b></label>
                <input type="text" class="form-control" id="txtPaciente" name="referencia " style="width: 250px;border:dotted " />
            </div>
            <div class="mb-2">
                <label class="form-label"><b>Fecha de vista:</b></label>
                <input type="text" class="form-control" id="txtFecha" name="referencia" style="border:dotted; width:250px" />
            </div>
            <div class="mb-2">
                <label class="form-label"><b>Especialista:</b></label>
                <input type="text" class="form-control" id="txtEspecialista" name="referencia" style="border:dotted; width:250px" />
            </div>
        </div>
        <div class="col-sm-3 m-4 text-white">
            <div class="mb-2">
                <label class="form-label"><b>Motivo de visita:</b></label>
                <textarea type="text" class="form-control" id="txtMotivo" name="Cintomas" style=" width:400px; height:80px;resize:none;border:dotted"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label"><b>Resultados:</b></label>
                <textarea type="text" class="form-control" id="txtResultados" name="Cintomas" style=" width:400px; height:80px;resize:none;border:dotted"></textarea>
            </div>

        </div>

        <div class="col-sm-3 m-4 text-white">
            <div class="mb-3">
                <label class="form-label"><b>Examenes Realizados:</b></label>
                <textarea type="text" class="form-control" id="txtCintomas" name="Cintomas" style=" width: 400px; height: 100px;border:dotted"></textarea>
            </div>
        </div>
        <div class="col-sm-3 m-4 text-white">
            <div class="mb-3">
                <label class="form-label"><b>Medicamentos Recetados:</b></label>
                <textarea type="text" class="form-control" id="txtMedicamentos" name="Cintomas" style=" width: 400px; height: 100px;border:dotted"></textarea>
            </div>
        </div>
    </div>




</form>


@section scripts{
    
    <script>


        // por medio de esta funcion podremos visualizar la ficha medica
        //Ingresando el IdCita
        $(function () {

            $("#btnBuscar").on("click", function () {
            jQuery.ajax({
            url: '@Url.Action("VerFichaMedica", "Medico")' +
            "?IdCita=" + $("#txtIdCita").val(),
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {


                var obj = data.resultado



            $("#txtIdCita").val(obj.IdCita)
                $("#txtFecha").val(obj.FechaRegistro)
                $("#txtEspecialista").val(obj.Especialista)
                $("#txtMotivo").val(obj.Motivo)
                $("#txtResultados").val(obj.ResultadoEx)
                $("#txtPaciente").val(obj.Paciente)


    }

    });

    });

        })
               $(function () {

            $("#btnBuscar").on("click", function () {
            jQuery.ajax({
            url: '@Url.Action("VerFichaMedica2", "Medico")' +
            "?IdCita=" + $("#txtIdCita").val(),
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {


                var obj = data.resultado


                $("#txtCintomas").val(obj.Nombre)



    }

    });

    });

    })
               $(function () {

            $("#btnBuscar").on("click", function () {
            jQuery.ajax({
            url: '@Url.Action("VerFichaMedica3", "Medico")' +
            "?IdCita=" + $("#txtIdCita").val(),
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {


                var obj = data.resultado


                $("#txtMedicamentos").val(obj.Medicamentos)



    }

    });

    });

    })




    </script>
    
    
    
    }


